<!DOCTYPE html>
<html lang="en">
    <head>
        <title>pirate</title>
    </head>

    <body>
        <form action="http://localhost:4020/toPirate" method="post">
            <h1>TEXT TO PIROT:</h1>
            <label for="text">text:</label>
            <input type="text" id="text" name="text">
            <button type="submit">SUBMIT</button>
        </form>
        <form action="http://localhost:4020/fromPirate" method="post">
            <h1>TEXT FROM PIROT:</h1>
            <label for="text">text:</label>
            <input type="text" id="text" name="text">
            <button type="submit">SUBMIT</button>
            </form>
        </form>
        
        


        <p id="output">bLABLALBLASLSDKDASDLASKDKLASDJASLDJASLJsdlajKL</p>

    </body>




</html>